.container{

    /* z-index:10; */
}
.menu {
  /* background-color: rgb(177, 74, 74);*/
  position:fixed;
  background-color: black;
  color: white;
  display: flex;
  width: 100vw;
  min-height: 40px;
  max-height: 40px;
  z-index: 10;
  padding:5px;
  font-size: 0.8em;
}


.left {
  display: flex;
  flex: 0.6;

  padding-left: 100px;
  align-items: center;
  justify-content: flex-start;
}

.right {
  display: flex;
  flex: 0.4;
  flex-direction: column;
  
}
.menu__tile{
  display: flex;
  justify-content: space-around;
  padding-right: 100px;
  min-width: 450px;
}

.item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.item:hover {
  font-size: 1.05em;
  color: rgba(255, 255, 255, 0.767);
 
} 
.sign {
  display: flex;
  align-items: center;
}
.left__responsive,
.right__responsive {
  display: none;
}
.menuresponsive{
    position:fixed;
    width: 100vw;
    height: 100%;
    /* background-color: rgb(177, 74, 74);*/
    background-color: rgba(0, 0, 0, 0.904);
    margin-top:40px;
    z-index: 1;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.219);
}



.field{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    height: 15vh;
    font-size: 2em;
}


.field:hover{
    background-color: rgba(255, 255, 255, 0.527);
    color:black;
    font-size: 2.1em;
    width: 100vw;
}
.scrollup{
  position: fixed;
  z-index:11;
  margin-top: 80vh;
  margin-left: 92vw;
}
@media screen and (max-width: 900px) {
  
  .right {
    display: none;
  }

  .left{
    padding-left: 10px;
    
  }
  .right__responsive {
    display: flex;
    align-items: center;
    flex:0.4;
    justify-content: flex-end;
    padding-right: 50px;
   
  }
}

