.toggleVideo {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 60vw;
    margin-top: 10px;
  }
  
  @media screen and (max-width: 650px) {
    
    .toggleVideo {
      margin-top: 100px;
      width: 86vw;
    }
  
    
  }
  