.page__item{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    z-index:20;
    background-color: rgba(255, 255, 255, 0.541);
    width: 100vw;
    height:100vh;
}
.page__item__content{
    display: flex;
    width: 60vw;
    height: 80vh;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.479);
    background-color: white;
}

.page__item__content__left{
    display: flex;
    flex:0.5;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    
}
.page__item__content__left>img{
    display: flex;
    justify-content: center;
    height:105%;
    
}
.page__item__content__middle{
    display: flex;
    flex:0.1;
    
}
.page__item__content__right{
    display: flex;
    flex:0.4;
    padding: 5px;
    justify-content: center;
    align-items: center;
   
}
.toggle{
    position:fixed;
    margin-top:-450px;
    margin-right: -200px;
}

@media screen and (max-width:650px){
    .toggle{
        margin-right: -10px;
        margin-top:-150px;
    }
    
.page__item__content{
    flex-direction: column;
    width: 85vw;
    height: 75vh;
}

.page__item__content__middle{
    display: none;
    
}



}