.body{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
 
}

.body__container{
    display: flex;
    padding: 20px;
    flex:1;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.content{
    
    width: 80vw;
    
}
