.body{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
}

.body__container{
    display: flex;
    padding: 20px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    gap:20px;
    flex-direction: column;
    
}
.row{
    display: flex;
    flex:1;
    gap:20px;
    justify-content: center;
}