name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: login to heroku container
        env :
          HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY}}
        run : heroku container:login 
      - name: docker build
        run : docker build -t registry.heroku.com/beautiful-web-site/web .
      - name: docker push
        run : docker push registry.heroku.com/beautiful-web-site/web
      - name: Release
        env:
          HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY}}
        run:  heroku container:release -a beautiful-web-site web
      


     