name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: login to heroku container
        env :
          HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY}}
        run : heroku container:login 
      - name: build and push
        env:
          HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY}}
          run:  heroku container:push -a beautiful-web-site web



     